LOG_LEVEL=info

# Please contact TROW administrator to learn how to obtain the necessary configuration details
TROW_URL=<your_trow_api_url_here>
TROW_CLIENT_ID=<your_trow_client_id_here>
TROW_CLIENT_SECRET=<your_trow_client_secret_here>

MEILISEARCH_URL=http://127.0.0.1:7700
MEILISEARCH_KEY=<your_meilisearch_master_key_here>

REDIS_URL=redis://:<your_redis_password>@127.0.0.1:6379

ADMIN_TOKEN=<your_generated_secure_admin_token_here>
